body {
    background-color: rgb(135, 206, 235);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 200px); /* creating two columns */
    grid-template-rows: repeat(2, 200px);    /* creating two rows */                             
    padding: 20px;
    grid-column-gap: 250px; /* increase space in between the columns*/
}

.box {
    border: 4px solid lightcoral;    
    height: 20%;
    width: 180%;
    padding: 10px;
    margin: 10px;
    background-color:violet;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
